@charset "UTF-8";

.top_setting {
	background-color: white;
}

.top_setting_inner {
	width: 1260px;
	margin: 0 auto;
	padding: 40px 0 14px;
}

.top_setting_left {
	float: left;
}

.top_setting_left .menu {
	display: inline-block;
	cursor: pointer;
	margin-right: 36px;
}

.top_setting_left .menu .bar1, .top_setting_left .menu .bar2,
	.top_setting_left .menu .bar3 {
	width: 20px;
	height: 2px;
	background-color: black;
	margin: 4px 0;
	transition: 0.4s;
}

.top_setting_left .menu.change .bar1 {
	transform: rotate(-45deg) translate(-4px, 4px);
}

.top_setting_left .menu.change .bar2 {
	opacity: 0;
}

.top_setting_left .menu.change .bar3 {
	transform: rotate(45deg) translate(-4px, -4px);
}

.top_setting_left .logo {
	display: inline-block;
}

.top_setting_left .logo h1 {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	font-size: 2.125rem;
	cursor: pointer;
}

.top_setting_left .logo a {
	color: #0E2C49;
	padding-left: 40px;
	background: url(../images/logo_img.png) no-repeat left center;
}

.top_setting_left .logo a:hover {
	text-decoration: none;
}

.top_setting_left .logo h1 span {
	font-weight: 900;
}

.top_setting_right {
	float: right;
	padding-top: 7px;
}

.top_setting_right ul li {
	float: left;
}

.top_setting_right ul li a:after {
	content: 'ㆍ';
	display: inline-block;
	color: #999999;
	font-weight: 600;
	padding: 0 3px;
}

.top_setting_right ul li:last-child a:after {
	display: none;
}

.top_setting_right ul li a {
	font-size: 12px;
	font-weight: 600;
	color: #333333;
	line-height: 30px;
	height: 30px;
	position: relative;
	line-height: 30px;
}

.header_menu {
	position: absolute;
	top: 94px;
	width: 100%;
	left: -100%;
	padding: 50px 0;
	background: #ffffff;
	z-index: 9999;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.header_menu.on {
	left: 0%;
}

.header_menu_inner {
	padding: 0 20px;
}

.site_menu_box {
	padding-right: 79px;
	float: left;
}

.site_menu_title {
	font-size: 1.25rem;
	padding-bottom: 30px;
}

.site_menu_box ul {
	list-style: none;
}

.site_menu_box .go_menu {
	margin-right: 10px;
	float: left;
	text-align: center;
}

.site_menu_box .go_menu a{
	display:block;
	width:140px;
}

.site_menu_box .go_menu a:hover {
	color: #0056b3;
	text-decoration: none;
}

.site_menu_box .go_menu .go_img {
	width: 100%;
	height: 140px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	margin-bottom: 15px;
}

.site_menu_box .go_menu .go_img.ty1 {
	background:#f6f7f8 url(../images/go_menu/go_img01.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty2 {
	background:#f6f7f8 url(../images/go_menu/go_img02.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty3 {
	background:#f6f7f8 url(../images/go_menu/go_img03.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty4 {
	background:#f6f7f8 url(../images/go_menu/go_img04.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty5 {
	background:#f6f7f8 url(../images/go_menu/go_img05.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty6 {
	background:#f6f7f8 url(../images/go_menu/go_img06.png) no-repeat center;
}

.site_menu_box .go_menu .go_img.ty7 {
	background:#f6f7f8 url(../images/go_menu/go_img07.png) no-repeat center;
}

.search_wrap {
	position: relative;
	padding: 16px 0;
}

.search_inner {
	padding: 0 49px;
	width: 1260px;
	margin: auto;
}

.search_box {
	position: relative;
	width: 640px;
	max-width: 100%;
	height: 38px;
}

.search_input {
	width: 100%;
	height: 100%;
	padding: 0 10px;
	outline: 0;
	border-radius: 5px;
}

.search_right {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	padding-left: 3px;
}

.search_btn {
	width: 18px;
	height: 100%;
	text-indent: -9999px;
	background: url(../images/search_icon_02.png) no-repeat center;
	background-size: contain;
	cursor: pointer;
}

.search_btn:focus {
	outline: none;
}

footer {
	font-family: 'Noto Sans KR', 'sans-serif';
}

.foot_menu {
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.foot_menu:after {
	content: '';
	display: block;
	clear: both;
}

.foot_menu_wrap {
	width: 1260px;
	margin: 0 auto;
	position: relative;
}

.foot_menu_list {
	float: left;
}

.foot_menu_list ul li {
	float: left;
	text-align: center;
	padding: 22px 0;
	box-sizing: border-box;
	overflow: hidden;
}

.foot_menu_list ul li a:after {
	content: '\2223';
	display: inline-block;
	padding: 0 15px;
	margin-top: -3px;
	font-weight: 300;
	color: #e2e2e2;
}

.foot_menu_list ul li:last-child :after {
	display: none;
}

.foot_menu_fs select {
	float: right;
	width: 200px;
	height: auto;
	font-size: 14px;
	padding: 9px 20px;
	margin: 10px 0;
	font-weight: 600;
	background: #f7f7f7 url(../images/f_select_sign.png) no-repeat 90% 50%;
	border: 0;
	border-radius: 5px;
	color: #444444;
}

.foot_menu_fs select option {
	background-color: white;
}

.foot_copy {
	max-width: 1260px;
	margin: 0 auto 0;
	padding: 40px 0;
	color: #777777;
}

.foot_copy_logo {
	float: left;
	font-size: 28px;
	font-weight: 900;
	color: #999999;
}

.foot_copy_info {
	float: left;
	padding-left: 50px;
	font-size: 12px;
	line-height: 24px;
	color: #444444;
	padding-left: 50px;
}

.foot_copy_info_top {
	padding-bottom: 73px;
}

.foot_copy_info_top_left {
	float: left;
	padding-bottom: 10px;
	margin-right: 86px;
}

.foot_copy_info_top_left p {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

.foot_copy_info_top_left ul li {
	font-size: 14px;
	font-weight: 600;
}

.foot_copy_info_top_right {
	float: left;
}

.foot_copy_info_top_right tr {
	vertical-align: top;
	padding-bottom: 3px;
}

.foot_copy_info_top_right td {
	padding-right: 30px;
}

.foot_copy_info_bottom {
	color: #777777;
}

.privacy {
	padding: 20px;
	margin-top: 40px;
}

.privacy_title {
	margin-bottom: 15px;
}

.privacy_title h3 {
	font-size: 28px !important;
	font-weight: 600;
}

.privacy_title h3:after {
	content: '';
	display: block;
	background: #eeeeee;
	height: 1px;
	width: 100%;
	margin-top: 15px;
}

.privacy_content {
	margin: 0 0 30px;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

.privacy_content h2.title {
	margin-top: 50px;
}

.privacy_content h3.title {
	font-size: 20px !important;
	margin: 35px 0 5px;
	position: relative;
}

.privacy_content h3.title:before {
	content: '';
	display: block;
	height: 2px;
	width: 30px;
	background: #333333;
	position: absolute;
	top: -10px;
	left: 0;
}

.privacy_content p {
	font-size: 14px;
	color: #333333;
	line-height: 1.8;
}

.privacy_content p .link {
	color: #007bff;
	text-decoration: underline;
	display: inline-block;
}

@media screen and (max-width: 1300px) {
	.top_setting_inner {
		width: 100%;
	}
	.top_setting_left {
		padding-left: 20px;
	}
	.top_setting_right {
		padding-right: 20px;
	}
	.search_inner {
		width: 100%;
	}
	.foot_menu_wrap {
		width: 100%;
		padding: 0 20px;
	}
	.foot_copy {
		width: 100%;
		padding: 20px;
	}
}